body{font-family:Verdana;font-size: 1.1em;color: darkblue;
background: silver;}
h1{font-variant: all-small-caps;background: darkred}
a:hover {
    background-color: yellow;
}
HTML{border-style: dotted;}

ul{}


